:root {
    --colour-clear: #DDFDDC;
    --colour-light: #53AF51;
    --colour-dark: #2F992C;
    /*--colour-darker: #2F992C;*/
    --colour-background: rgb(245, 250, 245);
}

body {
  background-color: var(--colour-background);
  width: 70%;
  margin: auto;
  text-decoration: none;
}

.Seperator {
    padding:8px;
}

.TitleWrapper {
    text-align: center;
}

.ZenariiTitle {
    display: inline-block;
    width: 300px;
    font-size: 3rem;

}

.ZenariiBody {
    color: #990000;
}

.NavBarWrapper {
    text-align: center;
}

.NavBar {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    text-align: center;

    padding: 0;
}

.NavBar li {
    display: inline-block;
}

.NavBar li a {
    display: inline-block;
    color: black;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
}

.NavBar li a:hover {
    background-color: var(--colour-clear);
    border-bottom-style: solid;
    border-width: 1px;
    padding-bottom: 7px;
    border-color: var(--colour-dark);
}

.active {
    background-color: rgb(255, 0, 0);
}


.ImageTextColumn {
    float: left;
    width: 50%;
    overflow: hidden;
    background-color: var(--colour-clear);
    text-align:center;
    height:inherit;
}

.SpacedColumn {
    float: left;
    width: 45%;
    overflow: hidden;
    background-color: var(--colour-clear);
    text-align:center;
    height:inherit;
}

.SpacedColumnSpace {
    float: left;
    width: 10%;
    overflow: hidden;
    background-color: var(--colour-background);
    text-align:center;
    height:inherit;
}

.TextBoxTitle {
    font-size: 3rem;
    padding-top: 0;
    padding-bottom: 16px;
}

.TextBoxSubTitle {
    font-size:  4rem;
    padding: 8px;
    padding-bottom: 30px;
}

.HTMLButton {
    padding: 8px;
    background-color: var(--colour-light);
    text-decoration: none;
    width: 200px;
    margin: auto;
    font-size: 2rem;

}

.HTMLButton:hover {
    background-color: var(--colour-dark);
    text-decoration: none;
    margin: auto;
}

.HTMLButton a{
    text-decoration: none;
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.VerticalWrapper {
    display: table;
    width:  100%;
    height: inherit;
}

.VerticalContent {
    display: table-cell;
    vertical-align: middle;
}

.SocialMedia {
    padding: 40px;
}
